/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 200px;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90px;
    font-weight: 400;
}

.slogan {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: 300;
}
.banner {
    display: flex;
    min-height: 450px;
    width: 960px;
}

.obsah {
    display: flex;
    width: 960px;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 960px;
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

li {
    padding: 15px 30px;
}

.telefon {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* ----- zde začni psát vlastní CSS ----- */
